<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Forum Analyzer</a>
    </div>
</nav>
<div class="container">
        <h1>Articles</h1>
    <ul class="list-group">
        <li>
        {% for title in titles %}
            <a href="/titles/{{ title["_id"]}}" class="list-group-item">{{ title["name"] }}</a>
        {% endfor %}
        </li>
    </ul>

</div>
</body>
</html>